html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* Prevent text size adjustments on screens */

html {
webkit-text-size-adjust: 100%;
moz-text-size-adjust: 100%;
ms-text-size-adjust: 100%;
text-size-adjust: 100%;
color:white;
font-family:Monterserrat,"Futura";
background:url('4227060563_e24d67162c_o.jpg') no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size:cover;
/*image from Flickr Creative Commons  */
}
/* Displaying as blocks */
article, header, footer, small {
  display: block;
  font-size: inherit;
  /* Design, Modular and Alignment */
  /* Modular Scale --18px @ 1:1.5	--*/
  font-size-adjust:1.5em;
  text-shadow: 5px 5px 5px #FF0000;
  color:white;
  
}

h1 {
  font-family:Montserrat, "Futura";
  font-size: 1.777em; /* 33.761px */
  line-height: 1.333em; /* 45.003px */
  padding-top: 1.333em;
  padding-bottom: 1.333em;
  color: white;
  text-align: inherit;
  text-weight: bold;
  text-align: center;
}
body  {
    margin: 0; 
    padding: 0;
    text-align:center;
    font-family: Montserrat, "Futura";
    color: white;
}
.login{ 
    margin: 0;
    padding-top: 1.333em;
    padding-bottom: 1.333em;
    text-align: center;
    color: white;
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
  header {
  color: white; /* white text*/
  text-shadow: 5px 5px 5px #FF0000; 
  font-family: Montserrat, "Futura";
  font-size: 1.33em; 
  line-height: 1.333em; 
  padding-bottom: .444em; 
  color: white;
  text-align: center  
}
}

body {
  font-family: Montserrat, "Futura";
  text-align:center;
  color:white;
  background-size: cover;
  word-wrap: break-word;
}
  
/* Smartphones (portrait) ----------- */
@media only screen 
and (min-width : 20em) { /*320px */
/* Styles */
  header {
  font-family: Montserrat, "Futura";
  font-size: 1.em; /* 33.761px */
  line-height: 1.333em; /* 45.003px */
  padding-bottom: .667em; /* 1.333em / 2 (half) = .6665 */
  color: white;
  text-align: center;
}

body {
  font-family: Montserrat, "Futura";
  text-align:center;
  color:white;
  background-size: cover;   
  word-wrap: break-word;}
}

  /* Smartphones (landscape) ----------- */
@media only screen 
and (min-width: 20em; ) { /*321 px */
/* Styles */
  header {
  font-family: Montserrat, "Futura";
  font-size: 1.em; /* 33.761px */
  line-height: 1.333em; /* 45.003px */
  padding-bottom: .667em; /* 1.333em / 2 (half) = .6665 */
  color: white;
  text-align: center;      
}  
}
body{
  body {
  font-family: Montserrat, "Futura";
  text-align:center;
  color:white;
  background-size: cover;   
  word-wrap: break-word;}
  }
  

